#box1{
    height: 100px;
    width: 100px;
    background-color: beige;
    display: inline;
}
#box2 {
     height: 100px;
    width: 100px;
    background-color: beige;
}
#box3{
     height: 100px;
    width: 100px;
    background-color: beige;
}
#box4{
     height: 100px;
    width: 100px;
    background-color: beige;
}
